@import "node_modules/ol/ol.css";

html, body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  --ol-partial-background-color: rgba(255, 255, 255, 0.2);
}

a {
  color: white;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.about-info {
  opacity: 60%;
  position: fixed;
  bottom: 6px;
  right: 8px;
  z-index: 1000;
}
