@import "node_modules/ol/ol.css";

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  --ol-partial-background-color: rgba(255, 255, 255, 0.2);
}

a {
  color: white;
}

input {
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.about-info {
  opacity: 60%;
  position: fixed;
  bottom: 6px;
  right: 8px;
  z-index: 1000;
}

#floatingBox {
  visibility: collapse;
  backdrop-filter: blur(6px);
  user-select: none;
  position: fixed;
  bottom: 54px;
  left: 12px;
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  transition: all 0.2s;
  z-index: 2000;
}

#floatingBox * {
  opacity: 75%;
}

#floatingBox label {
  display: block;
  margin-top: 10px;
}

#menuButton {
  position: fixed;
  height: 2rem;
  width: 3rem;
  opacity: 40%;
  bottom: 12px;
  left: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

button {
  cursor: pointer;
  border-radius: 6px;
  color: white;
  background: #303030;
  border: 1px solid #ccc;
}

button:disabled {
  cursor: default;
  color: gray;
}

#animateButton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 60%;
  height: 1.8rem;
  right: 8px;
  top: 10px;
  width: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
